extends layout

block content
  header    
   .container
    .intro-text
     .intro-lead-in Hi!!!
     .intro-heading Welcome to my Website
     a.page-scroll.btn.btn-xl(href='/resume') View My Resume
  section#mission
   .container
    .row
     .col-lg-12.text-center
      h2.section-heading Mission Statement
      h3.section-subheading.text-muted  Dynamic professional with experience supporting managers, project teams, and ecommerce operations to ensure business success.  Passionate programmer with an aptitude for the MEAN stack and desire to turn my skills into a job opportunity.     

    .row.text-center
      .col-md-4
       span.fa-stack.fa-4x
        i.fa.fa-circle.fa-stack-2x.text-primary                        
        i.fa.fa-laptop.fa-stack-1x
                              
       h4.service-heading Front-End Development
                              
       p.text-muted Adept at using JavaScript/jQuery as well as AngularJS to incorporate and interact with html/css elements with the goal of creating a superior client-side interactive experience  
             
                        
      .col-md-4
       span.fa-stack.fa-4x
        i.fa.fa-circle.fa-stack-2x.text-primary
        i.fa.fa-folder-open-o.fa-stack-1x
                              
       h4.service-heading Project Management
                               
       p.text-muted Experience managing both e-commerce and construction projects through excellent communication, organization, and forecasting 
                         
      .col-md-4
       span.fa-stack.fa-4x
        i.fa.fa-circle.fa-stack-2x.text-primary                        
        i.fa.fa-shopping-cart.fa-stack-1x
                              
       h4.service-heading E-Commerce Operations
                               
       p.text-muted Accomplished managing the day-to-day operations of goods both through marketplaces and brand websites
       
  section.bg-light-gray#portfolio
   .container
    .row

     .col-lg-12.text-center
      h2.section-heading portfolio
      h3.section-subheading.text-muted Links to Projects and Resources
    .row

     .col-md-4.col-sm-6.portfolio-item
      a.portfolio-link(href='#portfolioModal1', data-toggle='modal')
       .portfolio-hover
        .portfolio-hover-content
         i.fa.fa-plus.fa-3x
       img.img-responsive(src='images/img/portfolio/twitter.png', alt="")
      .portfolio-caption
       h4 Twitter Clone
       p.text-muted Using express.js and postgreSQL to create a basic twitter blog 

     .col-md-4.col-sm-6.portfolio-item
      a.portfolio-link(href='#portfolioModal2', data-toggle='modal')
       .portfolio-hover
        .portfolio-hover-content
         i.fa.fa-plus.fa-3x
       img.img-responsive(src='images/img/portfolio/weather.png', alt="")
      .portfolio-caption
       h4 IOS Weather Application
       p.text-muted Mobile App using C++ and a free weather API

     .col-md-4.col-sm-6.portfolio-item
      a.portfolio-link(href='#portfolioModal3', data-toggle='modal')
       .portfolio-hover
        .portfolio-hover-content
         i.fa.fa-plus.fa-3x
       img.img-responsive(src='images/img/portfolio/fullpixel.png', alt="")
      .portfolio-caption
       h4 FullPixel
       p.text-muted MEAN stack photo hosting application for Portfolios 

  section#about
   .container
    .row
     .col-lg-12.text-center
      h2.section-heading My Professional Timeline
      h3.section-subheading.text-muted My History
    .row
     .col-lg-12
      ul.timeline
       li 
        .timeline-image
         img.img-circle.img-responsive(src='images/img/about/calpoly.jpg', alt="")
        .timeline-panel
         .timeline-heading
          h4 2006-2011
          h4.subheading Cal Poly San Luis Obispo
         .timeline-body
          p.text-muted Obtained a B.A. from the Orfalia College of Business. Within the college we have the opportunity to apply business theory to real life clients and obtain real world business experience. Student Alumni representative for Class of 2011. 
       li.timeline-inverted
        .timeline-image
         img.img-circle.img-responsive(src='images/img/about/swirl.jpeg', alt="")
        .timeline-panel
         .timeline-heading
          h4 2011-2012
          h4.subheading Swirl.com
         .timeline-body
          p.text-muted Inventory Analyst for an e-commerce website focusing on the consignment order pipeline from our buyers to our customers
       li 
        .timeline-image
         img.img-circle.img-responsive(src='images/img/about/cbre.jpg', alt="")
        .timeline-panel
         .timeline-heading
          h4 2012-2013
          h4.subheading CBRE
         .timeline-body
          p.text-muted Accountant for the commercial real-estate company CBRE focused on payment processing for east-coast operations 
       li.timeline-inverted
        .timeline-image
         img.img-circle.img-responsive(src='images/img/about/rm.jpg', alt="")
        .timeline-panel
         .timeline-heading
          h4 2013-Present
          h4.subheading ReverseMortgageLA.com
         .timeline-body
          p.text-muted Business operations consultant focused on extending the client-base of those in need of reverse mortgages 

  section.bg-light-gray#team
   .container
    .row
     .col-lg-12.text-center
      h2.section-heading My Passions
      h3.section-subheading.text-muted 
    .row
     .col-sm-4
      .team-member
       img.img-responsive.img-circle(src='images/img/team/outdoors.jpg', alt="")
       h4 Outdoors
       p.text-muted Being from Southern Califonia, my love for the outdoors grew through the easy access to the mountains and the beaches. When time permits I plan on hiking 1500 miles of the Appalachian Trail from Georgia to Maine.
       ul.list-inline.social-buttons
        li
         a.fa.fa-linkedin(href='#')
     .col-sm-4
      .team-member
       img.img-responsive.img-circle(src='images/img/team/stock.jpg', alt="")
       h4 Stock Market
       p.text-muted I use the stock market as a research tool to discover new companies and predmoniantly invest in growth stocks. As time goes on I plan on developing my portfolio to contain 50+ stocks and rival the returns of top mutual funds.
       ul.list-inline.social-buttons
        li
         a.fa.fa-github(href='#')
     .col-sm-4
      .team-member
       img.img-responsive.img-circle(src='images/img/team/sports.jpg', alt="")
       h4 Sports
       p.text-muted I enjoy sports as a means of expressing my competetive spirit and testing myself physically. Professionally, I support LA teams and enjoy using advanced analytics to project future statistical outputs.
       ul.list-inline.social-buttons
        li
         a.fa.fa-twitter(href='#')
    .row
     .col-lg-8.col-lg-offset-2.text-center
      p.large.text-muted 

  section#contact
   .container
    .row
     .col-lg-12.text-center
      h2.section-heading My Contact Information
      h4.section-subheading.text-primary Michael Paul Montero
      h4.section-subheading.text-primary 1105 First Street, Hermosa Beach, CA, 90254
      h4.section-subheading.text-primary (310) 283-1510
      h4.section-subheading.text-primary mmontero2012@gmail.com

  footer.bg-light-gray
   .container
    .row
     .text-center
      ul.list-inline.social-buttons
       li
        a.fa.fa-linkedin(href='https://www.linkedin.com/in/michaelmontero2015')
       li   
        a.fa.fa-github(href='https://github.com/gingermamba32')
       li
        a.fa.fa-twitter(href='https://twitter.com/')


  
  .portfolio-modal.modal.fade#portfolioModal1(tabindex='-1', role='dialog', aria-hidden='true')
   .modal-content
    .close-modal(data-dismiss='modal')
     .lr 
      .rl 

    .container
     .row
      .col-lg-8.col-lg-offset-2
        .modal-body
          h2 My Twitter Clone
          p.item-intro.text-muted Express.js Portfolio Hosting Application
          img.img-responsive(src='images/img/portfolio/twitter.png', style= {margin: '0 auto'})
          p This project used express.js and postgreSQL to make a blog that uses databasing and user authentication 
          p Below is a github link to this project 
          p
           span.fa-stack.fa-4x
            i.fa.fa-circle.fa-stack-2x.text-primary                        
            a.fa.fa-laptop.fa-stack-1x.fa-inverse(href='https://github.com/gingermamba32/My_personal_website')    
        
          ul.list-inline
            li express.js
            li Jade
            li node.js
          button.btn.btn-primary(type='button', data-dismiss='modal')
            i.fa.fa-times close project
   
  .portfolio-modal.modal.fade#portfolioModal2(tabindex='-1', role='dialog', aria-hidden='true')
   .modal-content
    .close-modal(data-dismiss='modal')
     .lr 
      .rl 

    .container
     .row
      .col-lg-8.col-lg-offset-2
        .modal-body
          h2 IOS Weather Application
          p.item-intro.text-muted Swift IOS Project
          img.img-responsive(src='images/img/portfolio/weather.png', style= {margin: '0 auto'})
          p This project was undertaken to try my hand at a front-end mobile application supporting IOS
          p Below is a github link to this project 
          p
           span.fa-stack.fa-4x
            i.fa.fa-circle.fa-stack-2x.text-primary                        
            a.fa.fa-laptop.fa-stack-1x.fa-inverse(href='https://github.com/gingermamba32/Weather-App')    
        
          ul.list-inline
            li Swift
            li Forecast API 
            li Basic Design
          button.btn.btn-primary(type='button', data-dismiss='modal')
            i.fa.fa-times close project
   

  .portfolio-modal.modal.fade#portfolioModal3(tabindex='-1', role='dialog', aria-hidden='true')
   .modal-content
    .close-modal(data-dismiss='modal')
     .lr 
      .rl 

    .container
     .row
      .col-lg-8.col-lg-offset-2
        .modal-body
          h2 Full Pixel
          p.item-intro.text-muted MEAN stack Application
          img.img-responsive(src='images/img/portfolio/fullpixel.png', style= {margin: '0 auto'})
          p MEAN stack photo hosting website. This application built in AngularJS, with node.js and mongoDB is used for photographers to show the world their portfolio pieces.
          p Below is a link to this project hosted on Heroku 
          p
           span.fa-stack.fa-4x
            i.fa.fa-circle.fa-stack-2x.text-primary                        
            a.fa.fa-laptop.fa-stack-1x.fa-inverse(href='https://pure-brushlands-9279.herokuapp.com')    
        
          ul.list-inline
            li AngularJS
            li MongoDB
            li node.js
          button.btn.btn-primary(type='button', data-dismiss='modal')
            i.fa.fa-times close project
   

  .portfolio-modal.modal.fade#portfolioModal1(tabindex='-1', role='dialog', aria-hidden='true')
   .modal-content
    .close-modal(data-dismiss='modal')
     .lr 
      .rl 

    .container
     .row
      .col-lg-8.col-lg-offset-2
        .modal-body
          h2 My Personal Website
          p.item-intro.text-muted Express.js Project
          img.img-responsive(src='images/img/portfolio/mypage.png', style= {margin: '0 auto'})
          p This project was created as a means of providing a template to promote both my resume and my work within the business world
          p Below is a github link to this project 
          p
           span.fa-stack.fa-4x
            i.fa.fa-circle.fa-stack-2x.text-primary                        
            a.fa.fa-laptop.fa-stack-1x.fa-inverse(href='portfolio/piece')    
        
          ul.list-inline
            li express.js
            li Jade
            li JavaScript
          button.btn.btn-primary(type='button', data-dismiss='modal')
            i.fa.fa-times close project
   

  .portfolio-modal.modal.fade#portfolioModal1(tabindex='-1', role='dialog', aria-hidden='true')
   .modal-content
    .close-modal(data-dismiss='modal')
     .lr 
      .rl 

    .container
     .row
      .col-lg-8.col-lg-offset-2
        .modal-body
          h2 My Personal Website
          p.item-intro.text-muted Express.js Project
          img.img-responsive(src='images/img/portfolio/mypage.png', style= {margin: '0 auto'})
          p This project was created as a means of providing a template to promote both my resume and my work within the business world
          p Below is a github link to this project 
          p
           span.fa-stack.fa-4x
            i.fa.fa-circle.fa-stack-2x.text-primary                        
            a.fa.fa-laptop.fa-stack-1x.fa-inverse(href='portfolio/piece')    
        
          ul.list-inline
            li express.js
            li Jade
            li JavaScript
          button.btn.btn-primary(type='button', data-dismiss='modal')
            i.fa.fa-times close project
   
  .portfolio-modal.modal.fade#portfolioModal1(tabindex='-1', role='dialog', aria-hidden='true')
   .modal-content
    .close-modal(data-dismiss='modal')
     .lr 
      .rl 

    .container
     .row
      .col-lg-8.col-lg-offset-2
        .modal-body
          h2 My Personal Website
          p.item-intro.text-muted Express.js Project
          img.img-responsive(src='images/img/portfolio/mypage.png', style= {margin: '0 auto'})
          p This project was created as a means of providing a template to promote both my resume and my work within the business world
          p Below is a github link to this project 
          p
           span.fa-stack.fa-4x
            i.fa.fa-circle.fa-stack-2x.text-primary                        
            a.fa.fa-laptop.fa-stack-1x.fa-inverse(href='portfolio/piece')    
        
          ul.list-inline
            li express.js
            li Jade
            li JavaScript
          button.btn.btn-primary(type='button', data-dismiss='modal')
            i.fa.fa-times close project
   


  


  

  
