extends layout

block content
 header
  .container
   .intro-text
    .intro-lead-in My
    .intro-heading Professional Resume

 section.bg-light-gray
  .container
   .row
    .col-lg-2.col-lg-offset-1
     h3 About
    .col-lg-6
     p Dynamic, multi-faceted, and tenacious professional with experience supporting managers, project teams, and company representatives to improve business success. Proficient in a variety of programming languages, economic and financial analysis, statistics, and business projections.  Excellent inter-personal, telephone, and digital communication skills, with a strong desire to be part of, and contribute to a strong successful business team.  Key strengths include mathematics, statistical analysis, project projections, and forecasting.    

    .col-lg-3.text-center
     p 
      span.fa-stack.fa-4x                       
       a.fa.fa-file-pdf-o.fa-stack-1x(href='Michael_Montero_Resume.pdf', download="Resume.pdf")
     p Download PDF File  

 section
  .container.desc
   .row
    .col-lg-2.col-lg-offset-1   
     h3 Education
    .col-lg-6
     h4 Cal Poly San Luis Obispo
     h5 B.A. Business Administration
     p Study: International Business with a focus in Finance
     p Minor: Economics 
     p International Business Study: UAB Barcelona
    .col-lg-3.text-center
     h4 Graduated 
     h5 Class of 2011

 section.bg-light-gray
  .container.desc
   .row
    .col-lg-2.col-lg-offset-1
     h3 Work   
    .col-lg-6
     h4.text-left Media Coordinator
     h5.text-left reversemortgagela.com 
     p 
      i Start-up website designed to generate leads for lenders within the reverse mortgage market in the Los Angeles area 
     ul
      li Blog relevant news related to the dynamic growing industry through specific media outlets
      li Sustain company growth through advertisement purchases on search engines and twitter
      li Follow up on email leads to gather client base
      li Coordinate with lenders to make loan application for borrowers
    .col-lg-3
     h5 April 2013 - Current

    .col-lg-6.col-lg-offset-3
     h4.text-left Invoice Processing Accountant
     h5.text-left CBRE
     p 
      i Real Estate holding company focusing in business management solutions
     ul
      li Successfully resolved vendor payment inquiries
      li Effectively managed several hundred invoices per day in the eastern region of the United States 
      li Assisted in the maintenance of vendor tax classification and payment terms
      li Audited several hundred invoices per day verifying accurate expenditures & account charges

    .col-lg-3
     h5 September 2012 - April 2013

    .col-lg-6.col-lg-offset-3
     h4.text-left Fulfillment Coordinator
     h5.text-left Swirl.com by Daily Candy 
     p 
      i Daily-Deal e-commerce start-up with $12 million in sales per year focused on the high-end womens clothing market 
     ul
      li Effectively managed 4000+ units of inventory per week
      li Created daily consignment purchase orders 
      li Provided daily communication with GSI warehouse across the United States
      li Managed Holiday Shop inventory consisting of 20+ brands
    .col-lg-3
     h5 September 2011 - April 2012

    .col-lg-6.col-lg-offset-3
     h4.text-left Project Management Assistant
     h5.text-left UCLA Health Systems Planning, Design & Construction 
     p 
      i Internal department for Health Systems that performs hospital upgrade/retrofit/design & construction projects, with a $7 million annual budget from University of California Regents
     ul
      li Developed flow charts to monitor project status
      li Formulated financial accounting data for projects 
      li Coordinated submittals and approvals to insure projects adhered to schedule
      li Assisted engineers and architects with fieldwork
    .col-lg-3
     h5 June 2010 - September 2011


 section
  .container
   .row
    .col-lg-2.col-lg-offset-1   
     h3 Skills
    .col-lg-4
     ul 
      b Business Skills
      li Glo-Bus Intl Business algorithm
      li Microsoft Dynamics GP
      li Mircosoft Access
      li Microsoft Excel
      li Commerce Manager
      li Peoplesoft
      li SAP
      li Spanish
    .col-lg-4
     ul 
      b Technical Skills
      li Mathematica
      li JavaScript/Jquery
      li Html/CSS/Bootstrap/Less
      li Node.js/Express.js
      li Ruby
      li IOS/Cordova
      li MySQL

 section.bg-light-gray
  .container.desc
   .row
    .col-lg-2.col-lg-offset-1   
     h3 Interests
    .col-lg-6
     h4 Hobbies
     p 
      b Sports: 
      i Basketball, Soccer, Football, Action Sports 
     p 
      b Traveling: 
      i Understanding and participating in culture that varies from our own 
     p 
      b History: 
      i Using historically relevant events to project the future of society 
     p 
      b Investing: 
      i Using the stock market to research new public companies and invest in growth stocks.
     p 
      b Fantasy Sports: 
      i Using advanced analytics to project future statistical outputs 
     p 
      b Hiking: 
      i When time permits, I plan to hike the Appalachian Trail from Georgia to Maine 
    .col-lg-3
     h4 Contact Info
     p 
      b Michael Paul Montero
     p 1105 First Street
     p Hermosa Beach, CA, 90254
     p EMAIL: mmontero2012@gmail.com
     p CELL: (310) 283-1510

 footer
   .container
    .row
     .text-center
      ul.list-inline.social-buttons
       li
        a.fa.fa-linkedin(href='https://www.linkedin.com/in/michaelmontero2015')
       li   
        a.fa.fa-github(href='https://github.com/gingermamba32')
       li
        a.fa.fa-twitter(href='https://twitter.com/')

  