extends layout

block content
  header    
   .container
    .intro-text
     .intro-lead-in Hi!!!
     .intro-heading Welcome to my Website
     a.page-scroll.btn.btn-xl(href='/resume') Tell Me More
  section#mission
   .container
    .row
     .col-lg-12.text-center
      h2.section-heading Mission Statement
      h3.section-subheading.text-muted Dynamic multi-faceted, and tenacious professional with experience supporting managers, project teams, and company representatives to improve business success. Proficient in a variety of programming languages, economic and financial analysis, statistics, and business projections.  Excellent inter-personal, telephone, and digital communication skills, with a strong desire to be part of, and contribute to a strong successful business team. Key strengths include mathematics, statistical analysis, project management, front-end web development, and forecasting.
    .row.text-center
    .col-md-4
     span.fa-stack.fa-4x
      i.fa.fa-circle.fa-stack-2x.text-primary                        
      i.fa.fa-shopping-cart.fa-stack-1x.fa-inverse
                            
     h4.service-heading Front-End Development
                            
     p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
           
                      
    .col-md-4
     span.fa-stack.fa-4x
      i.fa.fa-circle.fa-stack-2x.text-primary
      i.fa.fa-laptop.fa-stack-1x.fa-inverse
                            
     h4.service-heading Project Management
                             
     p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
                       
    .col-md-4
     span.fa-stack.fa-4x
      i.fa.fa-circle.fa-stack-2x.text-primary
                                  
      i.fa.fa-lock.fa-stack-1x.fa-inverse
                            
     h4.service-heading E-Commerce Operations
                             
     p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
     
  section.bg-light-gray#portfolio
   .container
    .row

     .col-lg-12.text-center
      h2.section-heading portfolio
      h3.section-subheading.text-muted Links to Projects and Resources
    .row

     .col-md-4.col-sm-6.portfolio-item
      a.portfolio-link(href='#portfolioModal1', data-toggle='modal')
       .portfolio-hover
        .portfolio-hover-content
         i.fa.fa-plus.fa-3x
       img.img-responsive(src='images/img/portfolio/roundicons.png', alt="")
      .portfolio-caption
       h4 Project 1
       p.text-muted Front End Development

     .col-md-4.col-sm-6.portfolio-item
      a.portfolio-link(href='#portfolioModal2', data-toggle='modal')
       .portfolio-hover
        .portfolio-hover-content
         i.fa.fa-plus.fa-3x
       img.img-responsive(src='images/img/portfolio/startup-framework.png', alt="")
      .portfolio-caption
       h4 Project 2
       p.text-muted Website Design
     .col-md-4.col-sm-6.portfolio-item
      a.portfolio-link(href='#portfolioModal3', data-toggle='modal')
       .portfolio-hover
        .portfolio-hover-content
         i.fa.fa-plus.fa-3x
       img.img-responsive(src='images/img/portfolio/treehouse.png', alt="")
      .portfolio-caption
       h4 Project 3
       p.text-muted Front End Development
     .col-md-4.col-sm-6.portfolio-item
      a.portfolio-link(href='#portfolioModal4', data-toggle='modal')
       .portfolio-hover
        .portfolio-hover-content
         i.fa.fa-plus.fa-3x
       img.img-responsive(src='images/img/portfolio/golden.png', alt="")
      .portfolio-caption
       h4 Project 4
       p.text-muted Front End Development
     .col-md-4.col-sm-6.portfolio-item
      a.portfolio-link(href='#portfolioModal5', data-toggle='modal')
       .portfolio-hover
        .portfolio-hover-content
         i.fa.fa-plus.fa-3x
       img.img-responsive(src='images/img/portfolio/escape.png', alt="")
      .portfolio-caption
       h4 Project 5
       p.text-muted Front End Development
     .col-md-4.col-sm-6.portfolio-item
      a.portfolio-link(href='#portfolioModal6', data-toggle='modal')
       .portfolio-hover
        .portfolio-hover-content
         i.fa.fa-plus.fa-3x
       img.img-responsive(src='images/img/portfolio/dreams.png', alt="")
      .portfolio-caption
       h4 Project 6
       p.text-muted Front End Development

  section#about
   .container
    .row
     .col-lg-12.text-center
      h2.section-heading My Professional Timeline
      h3.section-subheading.text-muted My History
    .row
     .col-lg-12
      ul.timeline
       li 
        .timeline-image
         img.img-circle.img-responsive(src='images/img/about/1.jpg', alt="")
        .timeline-panel
         .timeline-heading
          h4 2006-2011
          h4.subheading Cal Poly San Luis Obispo
         .timeline-body
          p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis 
       li.timeline-inverted
        .timeline-image
         img.img-circle.img-responsive(src='images/img/about/2.jpg', alt="")
        .timeline-panel
         .timeline-heading
          h4 2011-2012
          h4.subheading Swirl.com
         .timeline-body
          p.text-muted Lorem ipsum dolor sit 
       li 
        .timeline-image
         img.img-circle.img-responsive(src='images/img/about/1.jpg', alt="")
        .timeline-panel
         .timeline-heading
          h4 2006-2011
          h4.subheading Cal Poly San Luis Obispo
         .timeline-body
          p.text-muted Lorem ipsum dolor sit
       li.timeline-inverted
        .timeline-image
         img.img-circle.img-responsive(src='images/img/about/2.jpg', alt="")
        .timeline-panel
         .timeline-heading
          h4 2011-2012
          h4.subheading Swirl.com
         .timeline-body
          p.text-muted Lorem ipsum dolor sit 

  section.bg-light-grey#team
   .container
    .row
     .col-lg-12.text-center
      h2.section-heading My Passions
      h3.section-subheading.text-muted sdkgfkdsh hsfkghf dhgkjdsgh
    .row
     .col-sm-4
      .team-member
       img.img-responsive.img-circle(src='images/img/team/1.jpg', alt="")
       h4 Outdoors
       p.text-muted khdfsfksd fdshksfdsk dsfk
       ul.list-inline.social-buttons
        li
         a.fa.fa-linkedin(href='#')
     .col-sm-4
      .team-member
       img.img-responsive.img-circle(src='images/img/team/2.jpg', alt="")
       h4 Stock Market
       p.text-muted khdfsfksd fdshksfdsk dsfk
       ul.list-inline.social-buttons
        li
         a.fa.fa-github(href='#')
     .col-sm-4
      .team-member
       img.img-responsive.img-circle(src='images/img/team/3.jpg', alt="")
       h4 Sports
       p.text-muted khdfsfksd fdshksfdsk dsfk
       ul.list-inline.social-buttons
        li
         a.fa.fa-twitter(href='#')
    .row
     .col-lg-8.col-lg-offset-2.text-center
      p.large.text-muted These were my hobbies

  section#contact
   .container
    .row
     .col-lg-12.text-center
      h2.section-heading My Contact Information
      h3.section-subheading.text-primary dsjfdsfskd idsjf ksdfj sd

  footer
   .container
    .row
     .text-center
      ul.list-inline.social-buttons
       li
        a.fa.fa-linkedin(href='#')
       li   
        a.fa.fa-github(href='#')
       li
        a.fa.fa-twitter(href='#')

      



  


  

  
