doctype html
html(lang='en')
  head
   meta(charset='utf-8')   
   meta(http-equiv='X-UA-Compatible', content='IE=edge')    
   meta(name='viewport', content='width=device-width, initial-scale=1')   
   meta(name='description', content='')   
   meta(name='author', content='')
   title= title
   link(rel='stylesheet', href='stylesheets/css/bootstrap.min.css')
   link(rel='stylesheet', href='stylesheets/css/agency.css')
   link(rel='stylesheet', type='text/css', href='stylesheets/font-awesome/css/font-awesome.min.css')
   link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Montserrat:400,700')
   link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Kaushan+Script')
   link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic')
   link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700')
   link(rel='stylesheet', href='stylesheets/styles.css')
  body
   .navbar.navbar-default.navbar-fixed-top(role='navigation')
      .container
        .navbar-header.page-scroll
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example.navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.page-scroll(href='/') Michael Montero
        .collapse.navbar-collapse#bs-example
          ul.nav.navbar-nav.navbar-right
            li.hidden
              a(href='#page-top') 
            li
              a.page-scroll(href='/resume') Resume
            li
              a.page-scroll(href='/#portfolio') Portfolio
            li
              a.page-scroll(href='/#about') About Me
            li
              a.page-scroll(href='/#team') Hobbies
            li
              a.page-scroll(href='/#contact') Contact Me

   block content
   script(src='javascripts/js/jquery.js')
   script(src='javascripts/js/bootstrap.min.js')
   script(src='javascripts/js/classie.js')
   script(src='javascripts/js/cbpAnimatedHeader.js')
   script(src='javascripts/js/jqBootstrapValidation.js')
   script(src='javascripts/js/agency.js') 






