extends layout

block content
 header
  .container
   .intro-text
    .intro-lead-in My
    .intro-heading Professional Resume

 section.bg-light-gray
  .container
   .row
    .col-lg-2.col-lg-offset-1
     h4 About
    .col-lg-6
     p thhkdsksdadsndsjds
    .col-lg-3
     p
      a(href='RESUME2014.pdf', download="resume.pdf") download my resume

 section
  .container
   .row
    .col-lg-2.col-lg-offset-1   
     h4 Competenices
    .col-lg-6
     p list skills
    .col-lg-3
     p more skills

 section.bg-light-gray
  .container.desc
   .row
    .col-lg-2.col-lg-offset-1   
     h4 Experience
    .col-lg-6
     p jobs 
    .col-lg-3
     p address/contactinfo/

 section
  .container.desc
   .row
    .col-lg-2.col-lg-offset-1   
     h4 Education
    .col-lg-6
     p jobs 
    .col-lg-3
     p address/contactinfo/manager

 section.bg-light-gray
  .container.desc
   .row
    .col-lg-2.col-lg-offset-1   
     h4 Interests
    .col-lg-6
     p jobs 
    .col-lg-3
     p address/contactinfo/

 footer
   .container
    .row
     .text-center
      ul.list-inline.social-buttons
       li
        a.fa.fa-linkedin(href='https://www.linkedin.com/in/michaelmontero2015')
       li   
        a.fa.fa-github(href='https://github.com/gingermamba32')
       li
        a.fa.fa-twitter(href='https://twitter.com/')

  